<div class="ng-cloak" ng-controller="CredentialManagerController as model">
  <div class="row">
    <div class="col-md-12">
      <h1 class="headline">Credentials</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <br-credential-manager/>
    </div>
  </div>

  <div class="row" ng-if="model.action === 'request'">
    <div class="col-md-12">
      Select this credential to fulfill the request?<br/>
      <pre class="pre-scrollable">{{ model.idp.identity | json }}</pre>

      <button ng-click="model.transmit(model.idp.identity)" type="button"
        class="btn btn-primary">Compose Credential</button>
    </div>
  </div>

  <div class="row" ng-if="model.action === 'store'">
    <div class="col-md-12">
      Store this credential in your vault?<br/>

      <pre>{{model.idp.identity|json}}</pre>

      <button ng-click="model.store(model.idp.identity)" type="button"
        class="btn btn-primary">Store Credential</button>
    </div>
  </div>

</div>
