<div ng-controller="brCredentialTaskController as model">
  <br-credential-task br-create-session="model.createSession(identity)"></br-credential-task>
  <div ng-if="model.display.login">
    <div ng-if="model.display.temporaryDevice" class="alert alert-info">
      It looks like you're temporarily signing in from a new device, so please
      provide your email address and password.
    </div>
    <div ng-if="model.display.newDevice" class="alert alert-info">
      It looks like you're registering a new device to sign in with, so please
      provide your email address and password.
    </div>
    <br-authn-password
      br-identity="{{model.sysIdentifier}}"
      br-on-login="model.loggedIn(identity)">
    </br-authn-password>
  </div>
</div>
