<div>
  <br-credential-task br-create-session="$ctrl.createSession(identity)"></br-credential-task>
  <div ng-if="$ctrl.display.login">
    <div ng-if="$ctrl.display.temporaryDevice" class="alert alert-info">
      It looks like you're temporarily signing in from a new device, so please
      confirm your email address and password.
    </div>
    <div ng-if="$ctrl.display.newDevice" class="alert alert-info">
      It looks like you're registering a new device to sign in with, so please
      confirm your email address and password.
    </div>
    <br-authn-password
      br-identity="{{$ctrl.sysIdentifier}}"
      br-on-login="$ctrl.loggedIn(identity)">
    </br-authn-password>
  </div>
</div>
